<div style="height:100%; background-size: cover; background-repeat: no-repeat;">
    <div class="card logincard">
        <div class="card-header" style="color: white; font-size: 30px; font-weight: 400">
            Sign In
            <button ng-click="complexQuery()" style="float: right" class="btn btn-secondary">Complex Query</button>
        </div>
        <div class="card-body">
            <div class="logininput">
                <span><i style="width:25px; color:#6c757d" class="fa fa-user"></i><input ng-model="username" style="width: 80%; border: 1px solid #ffffff; border-radius: 5px" type="text" placeholder="Username"></span>
            </div>
            <div class="logininput">
                <span><i style="width:25px; color:#6c757d" class="fa fa-key"></i><input ng-model="password" style="width: 80%; border: 1px solid #ffffff; border-radius: 5px" type="password" placeholder="Password"></span>
            </div>
            <span style="padding-left: 10px; color: #ffffff !important;">{{user.message}}.</span>
            <div style="padding: 15px 5px 5px calc(22px + 80% - 65.2px);">
                <button class="btn btn-secondary" ng-click="login()">Login</button>
            </div>
        </div>
    </div>
</div>